@import "modules/variables";
@import "modules/helper";
.frame {
    width: 1200px;
    margin: 20px auto;
    border: 3px solid #eee;
    padding: 3%;
    h2 {
        margin-bottom: 30px;
    }
}

.wrapper {
    display: flex;
    .inner {
        width: calc(100% / 3);
    }
    h3 {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    p {
        line-height: 2rem;
        text-align: justify;
        padding: 0 5%;
    }
}

.child {
    margin: 30px auto 100px;
    width: 400px;
    text-align: left;
    h2 {
        margin-bottom: 40px;
    }
}