@import "modules/variables";
@import "modules/helper";
.list-frame {
    width: 70%;
    float: left;
}

h1 {
    margin: 30px 0;
}

.gender-filter {
    text-align: left;
    margin-bottom: 30px;
    ul {
        display: inline-block;
    }
    ul li {
        cursor: pointer;
        display: inline-block;
    }
    ul li:not(:first-child) {
        margin-left: 10px;
    }
    .active {
        font-weight: bold;
    }
}

table {
    width: 100%;
}

th {
    padding: .5rem;
}

td {
    padding: .5rem;
    vertical-align: middle;
}

.display-none {
    display: none;
}