@import "modules/variables";
@import "modules/helper";
.page-main {
    width: 1200px;
    margin: auto;
    clear: both;
}

h1,
h2 {
    font-weight: normal;
    line-height: normal;
}

p {
    line-height: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: $color-a-1;
}