@import "modules/variables";
@import "modules/helper";
@import "partials/reset";
@import "partials/base";
.site-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.site-container-small {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 30px;
}

.page-main {
    text-align: center;
    padding: 60px 0;
}