$white: #ffffff;
$black: #121212;

$color-a-1: #42b983;
$color-a-1-light: lighten($color-a-1, 25%);
$color-a-1-dark: darken($color-a-1, 10%);

$base-font-size: 16px;
$tw-font-family: 'Microsoft JhengHei', 'LiHei Pro Medium';
$cn-font-family: 'Microsoft YaHei', 'LiHei Pro Medium';
$en-font-family: 'Avenir';

$head_height: 60px;
